<div>
    <img src="../../assets/Logo.png" alt="Logo" class="logo">
    <div class="main-container">
      <div class="rectangle">
        <button class="login-button2 google">
            <img src="../../assets/Index/Google.png" alt="Google" class="button-icon">
            Fazer login com o Google
        </button>        
        <button class="login-button3 facebook">
            <img src="../../assets/Index/Face.png" alt="Facebook" class="button-icon2">
            Fazer login com o Facebook
        </button>        
        <div class="or">Ou</div>
        <div class="line"></div>
        <div class="login">
            <img src="../../assets/Index/Login.png" alt="Google" class="login-imagem">
            <div class="login-label">login</div>
        </div>
        <div class="line"></div>
        <div class="password">
            <img src="../../assets/Index/Senha.png" alt="Google" class="password-imagem">
            <div class="password-label">senha</div>
        </div>
        <div class="line"></div>
        <div class="remember-me">
            <input type="checkbox" id="rememberCheckbox">
            <div class="remember-me2"><label for="rememberCheckbox">Me lembrar</label></div>
            <span class="forgot-password">Esqueceu senha?</span>
        </div>
        <button class="login-button main">Login</button>
        <div class="create-account" routerLink="/cadastro">Criar nova conta</div>
      </div>
    </div>
  </div>
  